<!DOCTYPE html>
<html>
  <head>
    <title>Recipic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/select2.min.css" />

    <script src="/select2.full.min.js"></script>
    <script src="/site.js"></script>
  </head>

  <body>

	<%= render 'layouts/header' %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
