<!DOCTYPE html>
<html>
  <head>
    <title>Recipic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/select2.min.css" />

    <link rel="stylesheet" type="text/css"  href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

    <script src="/select2.full.min.js"></script>
    <script src="/site.js"></script>
  </head>

  <body>

	<%= render 'layouts/header' %>


    <%= yield %>
  </body>
</html>
